<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/nav' %>
        
  
<% if params[:id] != nil %>
<% @url = '/user/' + params[:id]  %>
<% if current_page?(@url) %>
 <img src="/space.jpg" class="profile-banner"></img>
 <div class="row">
     <div class="col-sm-12" style="backgrond-color: white;">
         <div class="container">
             <div class="col-sm-3">
                 &nbsp;
             </div>
             <div class="col-sm-6" style="margin-top: 5px;">
                <div class="col-sm-2">POSTS<br>
                     <h6 style="color: #55acee; font-size: 150%"><%= current_user.posts.count %></h6>
                </div>
                <div class="col-sm-2">Followers<br>
                     <h6 style="color: #55acee; font-size: 150%"><%= current_user.followers.count %></h6>
                </div>
                <% if user_signed_in? %>
                    <div class="col-sm-8" style="text-align: right; margin-top: 5px;"><a href="/users/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: .8; font-weight: bold;">Edit Profile</li></a></div>
                <% end %>
            </div>
         </div>
     </div>
 </div>
 <%end%>
 <%end%>
<div class="container">
       <spam class="notice"><%= notice %></spam>
       <spam class="alert"><%= alert %></spam>
<%= yield %>
</div>

</body>
</html>
